.main-color {
    background-color: red !important;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.card:hover img {
    transform: scale(1.05); 
}

.icon-service {
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #fff;
}
.banner {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/WhatsApp\ Image\ 2025-05-02\ at\ 1.25.22\ PM.jpeg');
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: red !important;
}

